.head-sec{
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.Head-item{
    margin: 20px;
    color: #757575;
}
.btn-style{
    width: fit-content;
    height: max-content;
    padding: 10px 15px  ;
    border-radius: 8px;
    background-color:  #7E90FE ;
    color: #FFFFFF;
    cursor: pointer;
}